@import "../variables.scss";

header {
  background: $header-background;
  padding-bottom: .5em;
  border-bottom: 4px solid $highlight-dark;
  h1{
    font-size: 2.5em;
    margin: 0;
    padding: 1.7em;
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: $background;
  }
  strong {
    color: $highlight-dark;
    vertical-align: sub;
  }
  nav {
    text-align: center;
    a {
      padding: .75em 1em;
      text-decoration: none;
      color: $background;
      font-weight: bold;
      font-size: 1.5em;
      &:hover {
        background: $highlight;
        color: $body-dark;
      }
    }
    .active {
      color: $highlight-dark;
    }
  }
}
