@import "../variables.scss";

.bucketlist {
  input {
    width: 100%;
  }
  .airportListContainer {
    position: relative;
    width: 100%;
  }
  .airportList {
    position: absolute;
    width: 100%;
  }
  .singleAirport {
    background: $background;
    color: $body-dark;
    border: 1px solid $body-dark;
    cursor: pointer;
    padding: .75em;
    display: grid;
    grid-template-columns: 3fr 6fr 1fr;
    grid-template-areas: "iata name remove" "iata city remove";
    &:hover {
      background: $highlight;
    }
    .IATAcode {
      grid-area: iata;
      font-size: 2em;
    }
    .airportName {
      grid-area: name;
    }
    .airportCity {
      grid-area: city;
    }
  }
  .destinationList {
    padding: 2em 1em;
    .singleAirport {
      margin: .5em;
      cursor: default;
      &:hover {
        background: $background;
      }
    }
  }
  .destinationRemove {
    grid-area: remove;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: $background;
    padding: 0 .25em;
    border-radius: .25em;
    @include linear-gradient($body-dark, $body-light);
  }
}
