@import "../variables.scss";

.bucketlist {
  input {
    width: 100%;
  }
  .airportListContainer {
    position: relative;
    width: 100%;
  }
  .airportList {
    position: absolute;
    width: 100%;
  }
  .destinationList {
    padding: 2em 1em;
    .singleAirport {
      margin: .5em;
      cursor: default;
      &:hover {
        background: $background;
      }
    }
  }
  .destinationRemove {
    grid-area: remove;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: $background;
    padding: 0 .25em;
    border-radius: .25em;
    @include linear-gradient($body-dark, $body-light);
  }
}
