.search {
  padding: 2em 1em; }
  .search form {
    width: 80%;
    font-size: 1.3em;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
  .search label {
    display: block; }
  .search input {
    padding: .25em;
    margin: .5em; }
  .search button {
    width: 50%;
    margin: 1em; }
  .search .sendSearch {
    width: 100%;
    text-align: center; }
