@import "../variables.scss";

.search {
  padding: 2em 1em;
  form {
    width: 80%;
    font-size: 1.3em;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  label {
    display: block;
  }
  input {
    padding: .25em;
    margin: .5em;
  }
  button {
    width: 50%;
    margin: 1em;
  }
  .sendSearch {
    width: 100%;
    text-align: center;
  }
}
