.FlightCard {
  color: #384E5E;
  background: #FFFFFF;
  padding: .75em;
  margin: 1em;
  font-size: 1em;
  background: #FAAD72;
  background: -moz-linear-gradient(left, #FAAD72 0%, #F66295 100%);
  background: -webkit-linear-gradient(left, #FAAD72 0%, #F66295 100%);
  background: linear-gradient(to right, #FAAD72 0%, #F66295 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=1 ); }
  .FlightCard .price {
    font-size: 1.5em;
    font-weight: bold;
    text-align: right; }
  .FlightCard .directionHeader {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    background: #405F73;
    margin-top: 1em;
    padding: .5em; }
  .FlightCard h3 {
    width: 50%;
    margin: 0;
    display: inline-block; }
  .FlightCard h6 {
    display: inline-block;
    margin: 0 1em; }
  .FlightCard .top-row, .FlightCard .second-row {
    display: flex;
    justify-content: space-between; }
  .FlightCard .airport {
    font-size: 1.75em;
    font-weight: bold; }
  .FlightCard .layover {
    text-align: center;
    padding: .25em;
    margin: 1em;
    border-top: 1px solid #384E5E;
    border-bottom: 1px solid #384E5E; }
    .FlightCard .layover h5 {
      margin: 0; }
