@import "../variables.scss";

.FlightCard {
  color: $body-dark;
  background: $background;
  padding: .75em;
  margin: 1em;
  font-size: 1em;
  @include horizontal-gradient(#F66295, #FAAD72);
  .price {
    font-size: 1.5em;
    font-weight: bold;
    text-align: right;
  }
  .directionHeader {
    display: flex;
    justify-content: space-between;
    color: $background;
    background: $body-light;
    margin-top: 1em;
    padding: .5em;
  }
  h3 {
    width: 50%;
    margin: 0;
    display: inline-block;
  }
  h6 {
    display: inline-block;
    margin: 0 1em;
  }
  .top-row, .second-row{
    display: flex;
    justify-content: space-between;
  }
  .airport {
    font-size: 1.75em;
    font-weight: bold;
  }
  .layover {
    text-align: center;
    padding: .25em;
    margin: 1em;
    border-top: 1px solid $body-dark;
    border-bottom: 1px solid $body-dark;
    h5 {
      margin: 0;
    }
  }
}
