@import "../variables.scss";

.flightCard {
  color: $body-dark;
  padding: .75em;
  margin: 1em;
  font-size: 1em;
  .price {
    font-size: 1.5em;
    font-weight: bold;
    text-align: right;
  }
  .directionHeader {
    display: flex;
    justify-content: space-between;
    color: $background;
    background: $body-light;
    margin-top: 1em;
    padding: .5em;
  }
  h3 {
    width: 50%;
    margin: 0;
    display: inline-block;
  }
  h6 {
    display: inline-block;
    margin: 0 1em;
  }
  .top-row, .second-row{
    display: flex;
    justify-content: space-between;
  }
  .airport {
    font-size: 1.75em;
    font-weight: bold;
  }
  .layover {
    text-align: center;
    padding: .25em;
    margin: 1em;
    border-top: 1px solid $body-dark;
    border-bottom: 1px solid $body-dark;
    h5 {
      margin: 0;
    }
  }
}
.percent10 {
  @include horizontal-gradient($percent0, $percent10);
}
.percent20 {
  @include horizontal-gradient($percent10, $percent20);
}
.percent30 {
  @include horizontal-gradient($percent20, $percent30);
}
.percent40 {
  @include horizontal-gradient($percent30, $percent40);
}
.percent50 {
  @include horizontal-gradient($percent40, $percent50);
}
.percent60 {
  @include horizontal-gradient($percent50, $percent60);
}
.percent70 {
  @include horizontal-gradient($percent60, $percent70);
}
.percent80 {
  @include horizontal-gradient($percent70, $percent80);
}
.percent90 {
  @include horizontal-gradient($percent80, $percent90);
}
.percent100 {
  @include horizontal-gradient($percent90, $percent100);
}
